*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 20px 0 40px 0;
}

.current-grade-calculator {
    background-color: azure;
    width: 400px;
    height: 300px;
    border: 5px solid cadetblue;
    border-radius: 8px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
}

.home-btn i {
    font-size: 20px;
}

#choose-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#choose-text{
    margin: 10px auto 45px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.choose-grading-system{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 30px;
}

#point-system-btn, #percentage-system-btn{
    font-style: italic;
}

#add-class-btn-container{
    position: relative;
    display: flex;
    justify-content: center;
    top: 10px;
    margin-left: 15px;
}

#form-container{
    text-align: center;
    overflow-y: auto;
    margin-left: 15px;
}

#form-container button{
    margin: 5px auto 12px;
    width: 50px;
    text-align: center;
}

.hidden{
    display: none;
}

@media (min-width: 100px) and (max-width: 560px) {

    .current-grade-calculator {
        width: 350px;
    }

    .btn{
        width: auto;
        text-align: center;
    }

    #delete-btn{
        text-align: center;
    }

}