*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
}

main{
    /* this part allows the item to be move according */
    display: flex;
    /* this lets the html know that it will move up and down */
    flex-direction: column;
    /* this next 2 lets the html know that everything will be in the center */
    justify-content: center;
    align-items: center;
}

.gpa-calculator{
    background-color: azure;
    /* make the box around the things */
    width: 330px;
    height: 300px;
    border: 5px solid cadetblue;
    border-radius: 8px;


    /* spaces everything out and center them */

    /* move everything away from the box */
    padding: 15px;

    /* Set the element's position to relative, allowing it to be positioned relative to its normal position in the document flow */
    position: relative;

    /* Enable the flexbox layout model on the element, treating its direct children as flex items */
    display: flex;

    /* Arrange the flex items vertically from top to bottom */
    flex-direction: column;

    /* Add a 10px gap (space) between each flex item within the flex container */
    gap: 20px;
}

#form-container{
    text-align: center;
    margin-top: -260px;
    overflow-y: auto;
    height: 205px;
}

.btn{
    width: 40px;
    margin: 5px;
    font-size: 12px;
}

/* move everything away from the header text */
h1{
    margin: 20px 0 40px 0;
}

/* fix and center everything correctly */
.gpa-tab{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    margin-top: -220px;
}


#add-class-btn{
    display: flex;
    justify-content: center;
    margin-top: 215px;
}

#add-update-btn{
    width: 35px;
}

#cancel-btn{
    width: 60px; 
}

.gpa-close-btn{
    display: flex;
    justify-content: center;
}

/* these two adding in btn and tab are for centering the add button */
.gpa-adding-in-btn{
    display: flex;
    justify-content: center;
}

#closing-tab-confirm {
    padding: 10px;
    margin: 10px auto;
    border-radius: 15px;
    margin-top: 200px;
}

.yes-or-no-btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.dialog-btn{
    width: 50px;
}

.closing-message{
    text-align: center;
}


/* put all in the center */
.gpa-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

/* 
make sure they are in the center and right position 
and the number next to the text
*/
.gpa-container>div {
    display: flex;
}

.credit-hour-text, #credit-hour-number{
    position: relative;
    right: 8px;
}

.qp-text, #qp-number{
    position: relative;
    left: 8px;
}

/* All together */

#gpa-add-update-btn, #gpa-cancel-btn{
    font-size: 15px;
    align-self: center;
    justify-self: center;
    /* move it down a little */
    margin-top: 20px;
}

#gpa{
    border-width: 2px;
    padding: 2px;
    border-radius: 10px;
}

.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
}

.home-btn i{
    font-size: 20px;
}

.hidden{
    display: none;
}

@media (min-width: 100px) and (max-width: 560px) {
    
    .gpa-calculator{
        height: 320px;
    }

    .btn{
        width: auto;
        text-align: center;
    }

    #add-class-btn{
        margin-top: 222px;
    }
}