*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 20px 0 40px 0;
}

.percentage-calculator {
    background-color: azure;
    width: 420px;
    height: 300px;
    border: 5px solid cadetblue;
    border-radius: 8px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;

}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
}

.home-btn i {
    font-size: 20px;
}

#name-input-container{
    text-align: center;
}

.grade-point-input {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
    height: 150px;
    margin-top: 25px;
    margin-left: 20px;
    overflow-y: auto;
}

.grade-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.grade-row label {
    width: 30px;
}

.grade-row input {
    width: 120px;
}

#assignment-text{
    margin-top: 10px;
    text-align: center;
}

.next-container{
    text-align: center; 
}

#know-grade-add{
    margin-right: 100px;
}

#add-btn{
    position: relative;
    font-size: 14px;
    width: auto;
    top: 18px;
}

#add-assignment-btn{
    position: relative;
    top: 30px;
    left: 25px;
}

#cancel-btn{
    position: relative;
    top: 30px;
    left: 56px;
}

#know-grade-btn{
    position: relative;
    top: 30px;
    left: 88px;
}

#know-text, #know-grade-input{
    position: relative;
    left: 35px;
    top: 60px;
}

#know-grade-add{
    position: relative;
    top: 100px;
    width: 50px;
    left: 156px;
}

#back-btn{
    position: relative;
    left: 157.8px;
    top: 120px;
    width: 45px;
}

#know-text{
    position: relative;
    left: 30px;
}

.percentage-assignment{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.percentage-assignment input{
    width: 104.5px;
}

.add-grades{
    margin: 10px auto 10px;
}

.delete-btn{
    margin-left: 10px;
}

.sub-delete-btn{
    position: relative;
    top: 4px;
    right: 20px;
    font-size: 12px;
    font-style: italic;
}

.assignment-grade{
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
}

.assignment-grade input{
    position: relative;
    right: 20px;
    margin-top: 10px;
    width: 91px;
    height: 18px;
}

.assignment-grade label{
    margin-top: 10px;
    font-size: 12px;
    position: relative;
    right: 20px;
}

.hidden{
    display: none;
}

@media (min-width: 100px) and (max-width: 560px) {
    
    .percentage-calculator{
        width: 375px;
    }

    #add-assignment-btn{
        position: relative;
        top: 30px;
        left: 2px;
    }
    
    #cancel-btn{
        position: relative;
        top: 30px;
        left: 18.5px;
    }
    
    #know-grade-btn{
        position: relative;
        top: 30px;
        left: 35px;
    }

}