*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 20px 0 40px 0;
}

.points-calculator {
    background-color: azure;
    width: 400px;
    height: 300px;
    border: 5px solid cadetblue;
    border-radius: 8px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
}

.home-btn i {
    font-size: 20px;
}

#closing-tab-confirm{
    text-align: center;
    position: relative;
    top: 240px;
    left: 220px;
    width: 200px;
    height: 100px;
}

#closing-tab-confirm p{
    margin: 5px 10px 10px 10px;
}

#closing-tab-confirm button{
    position: relative;
    top: 5px;
    width: 35px;
}

.grade-point-input{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
    height: 150px;
    margin-top: 25px;
    margin-left: 20px;
    overflow-y: auto;
}

#name-input-container{
    text-align: center;
}

.grade-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.grade-row label {
    width: 30px;
}

.grade-row input {
    width: 120px;
}

#point-text{
    text-align: center;
    margin: 10px auto 10px;
}

.next-container{
    text-align: center; 
}

#add-btn{
    position: relative;
    font-size: 14px;
    width: auto;
    top: 18px;
}

#add-points-btn{
    position: relative;
    top: 30px;
    left: 47px;
}

#cancel-btn{
    position: relative;
    top: 30px;
    left: 85.5px;
}

#know-points-btn{
    position: relative;
    top: 30px;
    left: 120px;
}

#know-text, #know-points-input{
    position: relative;
    left: 35px;
    top: 60px;
}

#know-points-add{
    position: relative;
    top: 110px;
    right: 118px;
    width: auto;
}

#back-btn{
    position: relative;
    left: 158px;
    top: 130px;
    width: 45px;
}

.point-assignment{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.point-assignment input{
    width: 91px;
    margin-top: 10px;
}

.point-assignment label{
    font-size: 15px;
}

.delete-btn{
    text-align: center;
    margin: 10px auto 10px;
}

#form-container{
    text-align: center;
    overflow-y: auto;
    margin-left: 15px;
}

#form-container button{
    margin-bottom: 10px;
}

.hidden{
    display: none;
}

@media (min-width: 100px) and (max-width: 560px) {

    .points-calculator{
        width: 375px;
    }

    #add-points-btn{
        position: relative;
        top: 30px;
        left: 33px;
    }
    
    #cancel-btn{
        position: relative;
        top: 30px;
        left: 52.7px;
    }
    
    #know-points-btn{
        position: relative;
        top: 30px;
        left: 72px;
    }

}